<app-navbar></app-navbar>

<main class="home-section">
    <section class="intro-section">
        <div class="intro-container">

            <div class="text-area">
                
                <h4 class="title"><span class="line-1">Colaborem</span>, <span class="line-2">potencializem</span>, <span class="line-3">avancem</span> a <span class="orange-area">precisão médica</span> na saúde cardíaca.</h4>
              


                <div class="subtitle-area">
                    <p>
                        Juntos, moldamos o futuro. Médicos e IA proporcionando diagnósticos e 
                        tratamentos mais eficazes e confiáveis.
                    </p>
    
                    <p>
                        Oferecemos uma oportunidade única para elevar a <br> qualidade dos cuidados cardíacos que você oferece.
                    </p>
                </div>
    
            </div>

            <div class="home-img fade-up">
                <img  class="medica-img" src="../../../assets/img/Group 8.png" alt="">
            </div>
        </div>
    </section>

    <!--  =================== CARDS ===================  -->
    <section class="cards-section fade-down">
        <div class="cards-container">

            <!--  =================== CARD 1 ===================  -->
            <div class="card-1">
                <div class="card-content">
                    <span class="material-symbols-outlined icons-card">local_hospital</span>

                    <div class="title-card">
                        <span class="line-card">Inove o seu ambiente</span>
                    </div>

                    <div class="subtitle-card">
                        <p>Transforme a saúde cardíaca da sua instituição com a assistência da IA. </p>
                        <p>Descubra como nossa tecnologia pode otimizar diagnósticos e cuidados.</p>
                    </div>
                </div>
            </div>

            <!--  =================== CARD 2 ===================  -->
            <div class="card-2">
                <div class="card-content">
                    <span class="material-symbols-outlined icons-card">cognition</span>

                    <div class="title-card">
                        <span class="line-card-2">Medicina Avançada</span>
                    </div>

                    <div class="subtitle-card">
                        <p>A IA não irá substituir, mas potencializa os médicos: Juntos, oferecemos um novo nível de cuidado cardíaco.</p>
                    </div>
                </div>
            </div>

            <!--  =================== CARD 3 ===================  -->
            <div class="card-3">
                <div class="card-content">
                    <span class="material-symbols-outlined icons-card">sentiment_satisfied</span>

                    <div class="title-card">
                        <span class="line-card-3">Confiabilidade</span>
                    </div>

                    <div class="subtitle-card">
                        <p>
                            Ao combinar a confiabilidade dos diagnósticos da IA com a experiência e empatia 
                            dos médicos, oferecendo o mais alto padrão de cuidado cardíaco disponível. 
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--  =================== PULSE ===================  -->
    <section class="pulse-section">
        <div class="pulse-container">

            <div class="title-pulse">
                <h3>
                    <strong>Como a Pulse vai funcionar</strong> 
                </h3>

                <p>Combinação de conhecimentos clínicos e análise avançada de dados</p>
            </div>


            <div class="pulse-area">
               
                <div class="img-area fade-up">
                    <img src="../../../assets/img/Pulse-tablet.png" alt="" class="pulse-img">
                </div>

                <div class="text-area-pulse">
                    <span class="subtitle-pulse">A inovação está ao seu alcance. </span>



                    <div class="info-pulse">

                        <p>
                            O avanço tecnológico está remodelando a forma como abordamos tudo ao nosso redor. 
                            A prevenção e o diagnóstico de doenças cardiovasculares, são uma delas. 
                        </p>
    
                        <p>
                            A Pulse, nossa IA, combinará a experiência dos seus médicos com o poder da inteligência artificial 
                            para fornecer diagnósticos cardíacos incrivelmente precisos e rápidos. Além disso, avalia a gravidade 
                            dos problemas cardíacos com uma precisão do impressionante.
                        </p>
    
                        <p>
                            Ao processar enormes volumes de dados médicos e reconhecer padrões sutis, ela auxilia os médicos na tomada 
                            de decisões altamente informadas.
                        </p>
    
                        <p class="border-info">
                            Essa parceria é muito mais do que uma combinação de conhecimento humano e tecnológico; é uma revolução que promete 
                            um futuro mais saudável e seguro.
                        </p>
    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  =================== SOLUTIONS ===================  -->
    <section class="solution-pulse">
        <div class="solutions-container">

            <div class="title-solutions">
                <h3>
                    <strong class="title"><span class="line-solutions">Pulse</span>, a sua solução para a inovação na  saúde cardíaca.</strong> 
                </h3>
            </div>


            <div class="solutions-points">

                <div class="solutions-1">
                    <span class="line-solutions-1"><strong style="color: var(--color-red);">1.</strong> Decisões compartilhadas</span>
                </div>

                <div class="solutions-2">
                    <span class="line-solutions-2"><strong style="color: var(--color-red);"> 2.</strong> Aprendizado contínuo</span>
                </div>

                <div class="solutions-3">
                    <span class="line-solutions-3"><strong style="color: var(--color-red);">3.</strong> Precisão e rapidez</span>
                </div>

                <div class="solutions-4">
                    <span class="line-solutions-4"><strong style="color: var(--color-red);">4.</strong> Proteção de seus dados</span>
                </div>

                <div class="solutions-5">
                    <span class="line-solutions-5"><strong style="color: var(--color-red);">5.</strong> Personalização dos cuidados</span>
                </div>

                <div class="solutions-6">
                    <span class="line-solutions-5"><strong style="color: var(--color-red);">6.</strong> Eficiência e economia de recursos</span>
                </div>
            </div>
        </div>
    </section>

    <!--  =================== NEWSLATTER ===================  -->
    <section class="newslatter-section">
        <div class="newslatter-container">

            <div class="first-bpm">
                <img src="../../../assets/background/bpm-part1.png" alt="">
            </div>


            <div class="newslatter-area">
                <div class="newslatter-content">
                    <div class="key-text">
                        <h5><strong>
                            A <span class="line-news-1">Pulse</span>  é a IA que está transformando a cardiologia. 
                            <span class="line-news-2">Associe-se</span>  à nossa empresa e <span class="line-news-3">faça parte dessa </span> <span class="line-news-4">transformação</span>.
                        </strong></h5>
                    </div>

                    <a class="btn btn-register fade-up">Associe-se a Pulse</a>
                </div>
            </div>


            <div class="second-bpm">
                <img class="bpm-2" src="../../../assets/background/bpm-part2.png" alt="">
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>


<a class="scroll-top" *ngIf="isScroll" (click)="scrollTop()">
    <span class="material-symbols-outlined ecg-icon">keyboard_arrow_up</span>
</a>
