<footer class="footer-section">
    <div class="footer-container">

        <div class="info-container">
            <div class="logo-area">
                <img class="svg" src="../../../assets/logos/CardioTech - Logo Footer.svg" alt="">
    
                <span class="subtitle-area">Descubra. Previna. Cuide. Abrace a inovação.</span>
            </div>
    
            <!--  =================== INFO 1 ===================  -->
            <div class="info-footer">
                <div class="info-content">
                
                    <ul class="info-menu">
                        <h5 class="info-title">Sobre nós</h5>
    
                        <li class="info-links">Quem somos</li>
                        <li class="info-links">Planos de preços</li>
                    </ul>
                </div>
            </div>
    
            <!--  =================== INFO 2 ===================  -->
            <div class="info-footer">
                <div class="info-content">
                
                    <ul class="info-menu">
                        <h5 class="info-title">Suporte</h5>
                        
                        <li class="info-links">Ajuda e suporte</li>
                        <li class="info-links">Nosso contato</li>
                    </ul>
                </div>
            </div>
    
            <!--  =================== INFO 3 ===================  -->
            <div class="info-footer">
                <div class="info-content">
                
                    <ul class="info-menu">
                        <h5 class="info-title">Empresa</h5>
                        
                        <li class="info-links">Termos de uso</li>
                        <li class="info-links">Código de conduta</li>
                    </ul>
                </div>
            </div>    
        </div>

        <div class="rights-container">
            <div class="rights-area">
                
                <li>
                <p>© 2023 CardioTech. Todos os direitos reservados.</p>
    
                </li>
                <ul class="rights-menu">
                    <li class="rights-links">Termos de uso.</li>
                    <li class="rights-links">Política de Privacidade.</li>
    
                    <li>
                    </li>
                </ul>
                
                
            </div>
        </div>
        
        <img class="bpm-footer" src="../../../assets/background/bpm-part3.png" alt="">
    </div>
</footer>