<nav class="navbar navbar-expand-lg bg-body-tertiary">
    
  <div class="container-fluid nav-container">
      
        <a class="navbar-brand logo-cardioTech" href="#">
            <img  src="../../../assets/logos/CardioTech - Logo Home.svg" alt="">
        </a>
      
      
      
      <div class="collapse navbar-collapse itens-container" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Preços</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Contatos</a>
            </li>
          </ul>
      </div>
      
      <a class="btn-signIn " routerLink="/login" target="_blank"> Entrar</a>
      
      <a class=" navbar-toggler btn-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
          <span class="material-symbols-outlined">
            menu
            </span>
      
      </a>
    
    </div>
  </nav>