<app-navbar-painel></app-navbar-painel>
<app-sidebar-painel></app-sidebar-painel>

<body>
  <section class="painel">

    <div class="welcome-box">
      <div>
        <img src="../../../assets/logos/Pulse.svg">
        <h5>Pulse</h5>
      </div>

      <div>
        <h4>Olá, Dr. Fábio</h4>
        <p>Estou aqui para auxiliá-lo na análise dos casos de hoje.</p>
      </div>

    </div>

    <div class="form-paciente">

      <div class="nome-paciente">
        <label>Nome do paciente</label>
      </div>

      <div class="resultado-paciente">
        <label>Insira os dados do resultado do exame do(a) paciente</label>
      </div>

      <div class="button-consulta">
        <button>Consultar diagnóstico</button>
      </div>
    </div>

  </section>
</body>
