<div class="abrir-barra" [ngClass]="{'btn-grow': menuFechado}">
  <button (click)="fecharMenu()">
    <img class="btn-abrir" src="../../../assets/icons/menu-open.svg" alt="btn-show">
  </button>
</div>

<div class="menu-lateral" [ngClass]="{ 'hidden': menuFechado }">
  <div class="menu-lateral-container">

    <!-- Conteúdo do menu lateral -->
    <div class="logo-tipo">
      <img [ngClass]="{'logo-cardio': menuFechado}" src="../../../assets/logos/CardioTech - Logo sidebar.svg">
    </div>

    <!-- Menu lateral  -->
    <ul class="menu" id="menu" [ngClass]="{'hidden': menuFechado}">

      <li class="menu-links">    
        <button type="button" routerLink="/painel-central" routerLinkActive="active">
          <img src="../../../assets/icons/home.svg" alt="Home">
          <span class="menu-text">Home</span>
        </button>
      </li>

      <li class="menu-links">
        <button type="button" (click)="onButtonClick(2)" routerLinkActive="active">
          <img src="../../../assets/icons/agenda.svg" alt="Agenda">
          <span class="menu-text">Agenda</span>
        </button>
      </li>

      <li class="menu-links">
        <button type="button" class="bt-pulse" routerLink="/painel" routerLinkActive="active">
          <img src="../../../assets/icons/pulse.svg" alt="Pulse">
          <span class="menu-text">Pulse</span>
        </button>
      </li>

      <li class="menu-links">
        <button type="button" routerLinkActive="active">
          <img src="../../../assets/icons/prontuarios.svg" alt="Prontuário">
          <span class="menu-text">Prontuários</span>
        </button>
      </li>
    </ul>

    <!-- Botão configurações  -->
    <div class="configuracoes">
      <button type="button" routerLinkActive="active">
        <img src="../../../assets/icons/config.svg" alt="Configurações">
        <span class="menu-text">Ajustes</span>
      </button>
    </div>

  </div>
</div>


