<div class="menu-lateral">
  <!-- Conteúdo do menu lateral -->
  <div class="logo-tipo">
    <img style="width: 110px;" src="../../../assets/logos/CardioTech - Logo Home.svg">
    <button>
      <img src="../../../assets/icons/menu-open.svg" alt="abrir menu">
    </button>
  </div>

  <!-- Menu lateral  -->
  <div class="menu">
    <button type="button" routerLink="/home">
      <img src="../../../assets/icons/home.svg" alt="Home">
      <span>Home</span>
    </button>
    <button type="button">
      <img src="../../../assets/icons/agenda.svg" alt="Agenda">
      <span>Agenda</span>
    </button>
    <button type="button" class="bt-pulse">
      <img src="../../../assets/icons/pulse.svg" alt="Pulse">
      <span>Pulse</span>
    </button>
    <button type="button" class="bt-prontuario">
      <img src="../../../assets/icons/prontuarios.svg" alt="Prontuário">
      <span>Prontuários</span>
    </button>
  </div>

  <!-- Botão configurações  -->
  <div class="configuracoes">
    <button type="button">
      <img src="../../../assets/icons/config.svg" alt="Configurações">
      <span>Ajustes</span>
    </button>
  </div>
</div>