<nav class="navbar-painel">
  <!-- Barra de pesquisa  -->
  <div class="barra-pesquisa">
    <img class="img-lupa" src="../../../assets/icons/lupa.svg" alt="Botão de pesquisa">
    <input placeholder="Procure por pacientes">
  </div>

  <!-- Divs invisíveis  -->
  <div></div>
  <div></div>
  <div></div>

  <!-- Modal usuário  -->
  <div class="modal-usuario">
    <img src="../../../assets/img/medico-modal.svg">

    <div class="txt-modal">
      <p style="font-weight: 600; font-size: 12px; margin: 0;">Fábio Nunes</p>
      <p style="font-size: 12px;">Cardiologista</p>
    </div>

    <span class="btn-show material-symbols-outlined" (click)="openModal()">
      expand_more
    </span>

    <ng-container *ngIf="modal">
      <div class="modal">     

        <span class="material-symbols-outlined">
          person
        </span>
        
        <h4>Editar perfil</h4>
      </div>

    </ng-container>
    
    <!-- <div class="div-select">
      <select class="select">
        <option></option>
        <option class="edit-user">
          <img src="../../../assets/icons/home.svg" alt="">
          Editar Perfil
        </option>
      </select>
    </div>  -->

  </div>
</nav>