<nav class="navbar-painel">
  <!-- Barra de pesquisa  -->
  <div class="barra-pesquisa">
    <img class="img-lupa" src="../../../assets/icons/lupa.svg" alt="Botão de pesquisa">
    <input placeholder="Procure por pacientes">
  </div>

  <!-- Modal usuário  -->
  <div class="modal-usuario">
    <img src="../../../assets/img/medico-modal.svg">
    <div class="txt-modal">
      <p style="font-weight: 600; font-size: 12px; margin: 0;">Fábio Nunes</p>
      <p style="font-size: 12px;">Cardiologista</p>
    </div>

    <!-- <mat-form-field class="custom-mat-field">
      <select class="my-class">
        <option></option>
        <option>Configurações</option>
        <option>Agenda</option>
      </select>
    </mat-form-field> -->
  </div>

</nav>