
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
</head>
<body>

    <!-- <img class="detail-leaf" src="../../../assets/img/bg-bpm.png" alt="leaf"> -->

    <section class="main-screen" id="main-screen">
     <div class="main-container">

      <div class="right-screen">

        <img class="logo-cardioTech" src="../../../assets/logos/CardioTech - Logo Home.svg" alt="">
        <form class="form" #formDir="ngForm">
          <form class="form-input" [formGroup]="formLogin" (ngSubmit)="onSubmit()">


            <h5 class="header">Área do Cooperador</h5>

            <!--NAME-->
            <label for="CRM"></label><br>
            <input class="form-inputs" placeholder="CRM" type="text" name="CRM" id="user" formControlName="crm">
            <!-- O (focus) é um evento de interação do usuário que é acionado quando o elemento html recebe o foco, nesse caso, quando os inputs são selecionados-->
            <!-- ----------------- NAME VALIDATION ----------------- -->
            <!-- <div *ngIf="nome.invalid && nome.touched" class="error-validation">
                <p *ngIf="nome.errors?.['required']">Por favor, insira o seu nome.</p>
            </div> -->

            <!--PASSWORD-->
            <br><label for="senha" ></label><br>
            <input class="form-inputs" placeholder="Senha" type="{{showPass ? 'text' : 'password'}}" name="senha" id="senha" formControlName="senha">
            <!-- ?: operador ternário | type="{{showPass ? 'text' : 'password'}}": Permite alterar entre mostrar o texto e ocultar com o password | ?: operador ternário, representa o if-else -->

            <div class="forget-password">

                <input type="checkbox" id="lembrarSenha" name="lembrarSenha" value="senha">
                <label for="lembrarSenha"> Lembrar senha </label>

                <a class="forget-pass" routerLink="/password-recover"><u>Esqueceu a senha?</u></a>

            </div>
            <!--<button class="btn-Entrar" id="submit-btn" type="submit">Entrar</button>-->

            <button class="btn-signIn"> Entrar</button>
            <!-- <br><bt class="btn-signIn "> Entrar </bt><br> -->

          </form>
        </form>

      </div>

      <div class="divisor"></div>
        <div class="left-screen">

            <div class="header-left">
              <div class="content-header">
                <h3 class="text-left">A inovação está ao seu alcance.</h3>
                <img class="bpm-logo" src="../../../assets/background/bpm-part4.png" alt="CardioTech">
              </div>
            </div>
        </div>
</div>
</section>

    <!-- <p>login works!!!!</p> -->

</body>
</html>
