body {
  display: flex;
  width: 100%;
}

header{
  z-index: 1;
}

.painel-central{
    min-height: 90vh;
    background: var(--color-neutral-20);
    background-image: url(../../../assets/background/bg-bpm2.png);
    background-position: 15% 66%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}


.welcome{
    padding: 6% 6% 0 6%;
}

.subtitle{
    font-size: 18px;
    font-weight: 500;
    margin: 1% 0 0 0;
}


.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: var(--color-neutral-10);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 221px;
    max-height: 300px;
    margin: 5%;
    /* overflow: hidden; */
    width: 520px;
}

.card-content{
    margin: 2% 0 0 5%;
}

.text-card{
    margin: 5% 0 10% 0;
}

.text-card-table{
  margin: 5% 0 5% 0;
}

.title-card{
    color: var(--color-strong-orange);
    font-size: 20px;
}

.subtitle-card{
    color: var(--color-subtitle);
    font-size: 14px;
}

.card-number{
    color: var(--color-accept);
    font-size: 40px;
    margin: 0 2% 0 0;
    /* margin: 5%; */
}

.card-moving{
    font-size: 35px;
}

/* PACIENTES ATENDIDOS */

.table-container {
  border: 1px solid var(--color-neutral-30);
  border-radius: 15px;
  padding: 20px 10px;
  max-height: 300px;
  overflow: auto;
  width: 95%;


}

.table-container::-webkit-scrollbar {
  width: 10px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: var(--color-light-orange-20);
}
.table{
  margin: 0 0 5% 0;
  overflow: hidden;
}



.table-atendidos {
  width: 85%;
  border-collapse: collapse;
  margin: 0 0 15% 0;

}


.check input:checked{
  background-color: var(--color-light-orange-20);

}


