/*  =================== MAIN AREA  =================== */

body {
  display: flex;
  width: 100%;
}

header {
  z-index: 1;
}

/*  =================== PAINEL AREA  =================== */

.painel-central {
  min-height: 90vh;
  background: var(--color-neutral-20);
  background-image: url(../../../assets/background/bg-bpm2.png);
  background-position: 15% 66%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.welcome {
  padding: 3% 6% 0 6%;
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  margin: 1% 0 0 0;
}

/*  =================== CARD AREA  =================== */

.cards-container {
  flex-wrap: wrap;
  margin: 5%;
  gap: 2rem;
  display: flex;
}

.card {
  background-color: var(--color-neutral-10);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 350px;
}

.card-table {
  background-color: var(--color-neutral-10);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  overflow: hidden;
}

.card-table-faltas {
  background-color: var(--color-neutral-10);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  height: fit-content;
  overflow: hidden;
  width: 30%;
}

.card-cadastro {
  background-color: var(--color-neutral-10);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  overflow: hidden;
  width: 300px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info {
  font-size: 12px;
}

.card-table-agendados {
  background-color: var(--color-neutral-10);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  overflow: hidden;
  width: 50%;
}

.card-content {
  padding: 15px;
}

.card-content-cadastro {
  padding: 0;
}

.text-card {
  margin: 5% 0 10% 0;
}

.title-card {
  margin-top: 15px;
  color: var(--color-strong-orange);
  font-size: 16px;
}

.subtitle-card {
  color: var(--color-subtitle);
  font-size: 12px;
}

.card-number {
  color: var(--color-accept);
  font-size: 35px;
  margin: 0 2% 0 0;
}

.card-moving {
  font-size: 35px;
}

/*  =================== TABELA PACIENTES ATENDIDOS  =================== */

.table-container {
  border: 1px solid var(--color-neutral-30);
  border-radius: 15px;
  overflow-y: auto;
  width: 400px;
  font-size: 12px;
}

.table-container::-webkit-scrollbar {
  width: 10px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #f5f2f2;
  border-radius: 15px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: var(--color-light-orange-20);
}

.table-atendidos {
  width: 85%;
  border-collapse: collapse;
}

.check-pacientes {
  display: flex;
  gap: 0.5rem;
}

input[type="checkbox"] {
  border: 5px solid var(--color-neutral-40);
  background: var(--color-neutral-10);
}

input[type="checkbox"]:checked {
  background-color: var(--color-strong-orange) !important;
}

/*  =================== TABELA PACIENTES QUE FALTARAM  =================== */

.table-container-faltas {
  display: flex;
  border: 1px solid var(--color-neutral-30);
  border-radius: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
}

.table-container-faltas::-webkit-scrollbar {
  width: 10px;
}

.table-container-faltas::-webkit-scrollbar-track {
  background-color: #f5f2f2;
  border-radius: 15px;
}

.table-container-faltas::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: var(--color-light-orange-20);
}

.title-table,
.pacientes,
.Horario,
.procedimento {
  font-size: 12px;
}

/*  =================== TABELA PACIENTES AGENDADOS  =================== */

.table-container-agendados {
  border: 1px solid var(--color-neutral-30);
  border-radius: 15px;
  overflow-y: auto;
  width: auto;
}

.table-container-agendados::-webkit-scrollbar {
  width: 10px;
}

.table-container-agendados::-webkit-scrollbar-track {
  background-color: #f5f2f2;
  border-radius: 15px;
}

.table-container-agendados::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: var(--color-light-orange-20);
}

/* Responsividade das telas  */

/* Laptop */
@media screen and (max-width: 1024px) {
  .card,
  .card-cadastro {
    width: 40%;
  }

  .card-table,
  .card-table-faltas {
    width: 50%;
  }

  .card-table-agendados {
    width: 95%;
  }
  .table-container-agendados {
    width: auto;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .table-container {
    width: auto;
  }
}

/* Mobile  */
@media screen and (max-width: 425px) {
  .card {
    width: auto;
  }

  .card-table,
  .card-cadastro,
  .card-table-agendados,
  .card-table-faltas {
    width: 100%;
  }
}
