

<body>

  <header>
    <app-sidebar-painel></app-sidebar-painel>
  </header>

  <main class="painel-central">
    <app-navbar-painel></app-navbar-painel>


      <!--  =================== WELCOME ===================  -->

      <section class="welcome">
          <div class="welcome-container">

              <div class="text-area">
                  <h1 class="title">Seja Bem-vindo, Dr. <span>Fábio</span>!</h1>
                  <p class="subtitle">Acompanhe as consultas do dia</p>
              </div>
          </div>
      </section>

      <!--  =================== CARDS ===================  -->

      <section class="cards-section">
          <div class="cards-container">

              <!--  =================== CARD ATENDIMENTO NO MÊS ===================  -->

              <div class="card">
                  <div class="card-content">

                      <div class="text-card">
                          <h3 class="title-card">Atendimentos no mês</h3>
                          <p class="subtitle-card">Comparação de Atendimentos entre o mês atual e o mês passado. </p>
                      </div>

                      <h2 class="card-info">
                          <span class="card-number">23</span>
                          <span class="card-moving material-symbols-outlined">moving</span>
                      </h2>
                  </div>
              </div>

              <!--  =================== CARD PACIENTES ATENDIDOS ===================  -->

              <div class="card">
                  <div class="card-content">

                      <div class="text-card-table">
                          <h3 class="title-card">Pacientes atendidos</h3>
                      </div>

                      <div class="table-container">
                        <section class="table">
                          <table class="table-atendidos">
                            <tr>
                              <th>Pacientes</th>
                            </tr>

                            <tbody class="pacientes">
                              <div class="check-pacientes">
                                <input class="check" type="checkbox">
                                <span class="name-paciente">Arlindo Nemesio da Silva</span>
                              </div>

                              <div class="check-pacientes">
                                <input class="check" type="checkbox">
                                <span class="name-paciente">Arlindo Nemesio da Silva</span>
                              </div>

                              <div class="check-pacientes">
                                <input class="check" type="checkbox">
                                <span class="name-paciente">Arlindo Nemesio da Silva</span>
                              </div>

                              <div class="check-pacientes">
                                <input class="check" type="checkbox">
                                <span class="name-paciente">Arlindo Nemesio da Silva</span>
                              </div>

                              <div class="check-pacientes">
                                <input class="check" type="checkbox">
                                <span class="name-paciente">Arlindo Nemesio da Silva</span>
                              </div>

                              <div class="check-pacientes">
                                <input class="check" type="checkbox">
                                <span class="name-paciente">Arlindo Nemesio da Silva</span>
                              </div>

                              <div class="check-pacientes">
                                <input class="check" type="checkbox">
                                <span class="name-paciente">Arlindo Nemesio da Silva</span>
                              </div>

                            </tbody>
                          </table>
                        </section>
                      </div>

                  </div>
              </div>

              <!--  =================== CARD PACIENTES CADASTRADOS ===================  -->

              <div class="card">
                  <div class="card-content">

                      <div class="text-card">
                          <h3 class="title-card">Pacientes Cadastrado</h3>
                      </div>

                      <h2 class="card-info">
                        <span class="card-number">60</span>
                      </h2>
                  </div>
              </div>

          </div>
      </section>
  </main>

</body>



