
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
</head>
<body>

    <!-- <img class="detail-leaf" src="../../../assets/img/bg-bpm.png" alt="leaf"> -->

    <section class="main-screen" id="main-screen">
     <div class="main-container">
        <form class="form" >
            <form class="form-input">
                <h5 class="header">Esqueceu a senha ?</h5>
                
                <p class="subtitle">Insira seu email para receber <br>um novo acesso de autenticação.</p>

                <!--NAME-->
                <label for="EMAIL"></label><br>
                <input class="form-input" placeholder="EMAIL" type="email" name="EMAIL" id="user" formControlName="nome">
                <!-- O (focus) é um evento de interação do usuário que é acionado quando o elemento html recebe o foco, nesse caso, quando os inputs são selecionados-->
                <!-- ----------------- EMAIL VALIDATION 1 ----------------- -->
                
                
                <!--<button class="btn-Entrar" id="submit-btn" type="submit">Entrar</button>-->

                <br><a class="btn-signIn " routerLink="/painel" target="_blank"> Enviar </a><br>
                
                <img class="logo-cardioTech" _ngcontent-riy-c1="" src="../../../assets/logos/CardioTech - Logo Home.svg" alt="">
            </form>
    
    </form>
</div>
</section>

    <!-- <p>login works!!!!</p> -->
    
</body>
</html>
