/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root{

    /* ============ Color neutral ============ */
    --color-neutral-10: #FFFF;
    --color-neutral-20: #F6F6F6;
    --color-neutral-30: #D9D9D9;
    --color-subtitle: #8888;
    --color-input: #525252;
    --color-neutral-40: black;

    /* ============ Main colors ============ */
    --color-light-orange: #FAF2EF;
    --color-light-orange-20: #FFD1C7;
    --color-orange: #F28B30;
    --color-strong-orange: #F27052;
    --color-border: #EAB289;
    --color-red: #D82727;


    /* ============ Colors feedbacks ============ */
    --color-accept: #30A308;
    --color-hover: rgb(91, 157, 244);
    --color-light-accpet: #BEFFA7;
    --color-error: #DB0000;
    --color-light-error: #FE9696;
    --color-yellow: #F2C84B;
    --color-light-yellow: #FFE28C;
}

::selection{
    background: var(--color-light-orange-20);
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

li, a{
    text-decoration: none;
    list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
